nav img {
    width:30px;
    height: 30px;
}
nav a {
    position: relative;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    color: black;
    font-weight:450;
    gap: 5px;
}
.logonav{
    width: 40px;
    height: 40px;
    position:relative;
    margin: 0;
    justify-self: center;
}
nav {
    background-color: rgb(255, 255, 255);
    top:0;
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.anteslogo {
    display: flex;
    justify-content: space-around;
}
.despueslogo {
    display: flex;
    justify-content: space-evenly;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
* {
    outline: 1px solid red;
}
.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-self: right;
    margin: 10px;
}
.perfil img {
    width: 20px;
    height: 20px;
}
.usuario img  {
    width: 50px;
    height: 50px;
}
.perfil button {
    width: fit-content;
    height: fit-content;
    padding:0;
    margin: 0;
    background-color: transparent;
    border-radius: 100%;
    border: none;
}